<div id="footer">
  <div class="container-fluid">
    <div class="row">

      <div id="info" class="col-xs-18 col-sm-4 col-md-4">
        <h4>INFO</h4>
        <div class="center">
          <a id="info_links" href="/">Company Info</a>
        </div>
        <div class="center">
          <a id="info_links" href="/">Privacy Policy</a>
        </div>
        <div class="center">
          <a id="info_links" href="/">Terms of Service</a>
        </div>

      </div>

      <div id="social_medias" class="col-xs-18 col-sm-4 col-md-4">
        <h4 id="social_title">SOCIAL MEDIAS</h4>
        <a href="/" target="_blank">
          <img id="facebook" src="images/social_medias/Social-Facebook.png" alt="">
        </a>
        <a href="/" target="_blank">
          <img id="instagram" src="images/social_medias/Social-Instagram.png" alt="">
        </a>
        <a href="/" target="_blank">
          <img id="pinterest" src="images/social_medias/Social-Pinterest.png" alt="">
        </a>
        <a href="/" target="_blank">
          <img id="blog" src="images/social_medias/Social-Blog.png" alt="">
        </a>
      </div>

      <div class="col-xs-18 col-sm-4 col-md-4">
        <h4>SUBSCRIBE</h4>
        <form id="subscribe" action="">
          <div class="form-group">
            <label id="email" for="email">Email address</label>
            <input type="email" class="form-control" id="emailInput" placeholder="user@gmail.com">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>
