<div id="nav_bar">

  <!-- <div class="container-fluid">
    <h1>Bootstrap Affix Example</h1>
    <h3>Fixed (sticky) navbar on scroll</h3>
    <p>Scroll this page to see how the navbar behaves with data-spy="affix".</p>
    <p>The navbar is attached to the top of the page after you have scrolled a specified amount of pixels.</p>
    <P>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</P>
  </div> -->

  <!-- Affix navbar starts here -->
  <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img id="logo" src="/images/logo.png" alt="logo">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/seminars">Seminars</a></li>
          <li role="presentation"><a href="/register">Register</a></li>
          <li role="presentation"><a href="/faq">FAQ</a></li>
          <li role="presentation"><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Affix navbar ends here -->


  <!-- Fixed navbar starts here -->
  <!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Company Name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/">Link 1</a></li>
          <li role="presentation"><a href="/">Link 2</a></li>
        </ul>
      </div>
    </div>
  </nav> -->
<!-- Fixed navbar ends here -->

</div>
