<div id="parallax">

  <div class="section_one">
    <div class="section_body">
      <h3>Hair Strokes Technique</h3>
      <h4>Permanent Makeup</h4>
      <div class="section_text">
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        <div class="row">
          <a href="/seminars/hair_strokes" class="btn btn-default center-block"> Get More Info</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section_two">
    <div class="section_body">
      <h3>Powdered Technique</h3>
      <h4>Permanent Makeup</h4>
      <div class="section_text">
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        <div class="row">
          <a href="/seminars/powdered" class="btn btn-default center-block"> Get More Info</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section_three">
    <div class="section_body">
      <h3>Lips</h3>
      <h4>Permanent Makeup</h4>
      <div class="section_text">
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        <div class="row">
          <a href="/seminars/lips" class="btn btn-default center-block"> Get More Info</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section_four">
    <div class="section_body">
      <h3>Eyeliner's</h3>
      <h4>Permanent Makeup</h4>
      <div class="section_text">
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        <div class="row">
          <a href="/seminars/eyeliners" class="btn btn-default center-block"> Get More Info</a>
        </div>
      </div>
    </div>
  </div>

</div>
