// import stylings
@import "global";


// styling for footer
#footer{
  padding: 25px 40px;
  h4{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
  #info{
    #info_links{
      font-size: .8em;
    }
  }

  #social_medias{
    padding-left: 0px;
    padding-right: 0px;
    font-size: .8em;
    a{
      transition-duration: 1s;
    }

    #social_title{
      text-align: center;
    }
    #facebook{
      width: 39%;
      height: auto;
    }
    #instagram{
      width: 9%;
      height: auto;
    }
    #pinterest{
      width: 9%;
      height: auto;
    }
    #blog{
      width: 39%;
      height: auto;
    }

    a:hover{
      opacity: .7;
    }
  }

  #subscribe{
    font-size: .8em;
    .btn{
      transition-duration: 1s;
    }
    .btn:hover{
      opacity: .7;
    }
  }

  #info, #social_medias, #subscribe{
    padding-bottom: 20px;
  }

}


/* Mobile & Tablet @media imports - starts */
// iPhone 4 & 4s starts here
@media only screen and ($min-device-width: 320px) and ($max-device-width: 480px) and ($-webkit-min-device-pixel-ratio: 2){
  #footer{
    h4{
      text-align: center;
    }
    #info{
      .center{
        text-align: center;
      }
    }
  }
}
@media only screen and ($min-device-width: 320px) and ($max-device-width: 480px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $portrait){

}
@media only screen and ($min-device-width: 320px) and ($max-device-width: 480px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $landscape){

}
// iPhone 4 & 4s ends here

// iPhone 5 & 5S starts here
@media only screen and ($min-device-width: 320px) and ($max-device-width: 568px) and ($-webkit-min-device-pixel-ratio: 2) {
  #footer{
    h4{
      text-align: center;
    }
    #info{
      .center{
        text-align: center;
      }
    }
  }
}
@media only screen and ($min-device-width: 320px) and ($max-device-width: 568px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 320px) and ($max-device-width: 568px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $landscape) {

}
// iPhone 5 & 5S ends here

// iPhone 6 & 6S starts here
@media only screen and ($min-device-width: 375px) and ($max-device-width: 667px) and ($-webkit-min-device-pixel-ratio: 2) {
  #footer{
    h4{
      text-align: center;
    }
    #info{
      .center{
        text-align: center;
      }
    }
  }
}
@media only screen and ($min-device-width: 375px) and ($max-device-width: 667px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 375px) and ($max-device-width: 667px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $landscape) {

}
// iPhone 6 & 6S ends here

// iPhone 6plus starts here
@media only screen and ($min-device-width: 414px) and ($max-device-width: 736px) and ($-webkit-min-device-pixel-ratio: 3) {
  #footer{
    h4{
      text-align: center;
    }
    #info{
      .center{
        text-align: center;
      }
    }
  }
}
@media only screen and ($min-device-width: 414px) and ($max-device-width: 736px) and ($-webkit-min-device-pixel-ratio: 3) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 414px) and ($max-device-width: 736px) and ($-webkit-min-device-pixel-ratio: 3) and ($orientation: $landscape) {

}
// iPhone 6plus ends here

// iPad mini starts here
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 1) {

}
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 1) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 1) and ($orientation: $landscape) {

}
// iPad mini ends here

// iPad starts here
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 2) {
  #footer{
    h4{
      text-align: center;
    }
    #info{
      .center{
        text-align: center;
      }
    }
  }
}
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $landscape) {

}
// iPad ends here

// iPad Pro starts here
@media only screen and ($min-device-width: 1024px) and ($max-device-width: 1366px) {
  #footer{
    h4{
      text-align: center;
    }
    #info{
      .center{
        text-align: center;
      }
    }
  }
}
@media only screen and ($min-device-width: 1024px) and ($max-device-width: 1366px) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 1024px) and ($max-device-width: 1366px) and ($orientation: $portrait) {

}
// iPad Pro ends here

// Nexus 6P starts here
@media only screen and ($min-device-width: 412px) and ($max-device-width: 732px) and ($-webkit-min-device-pixel-ratio: 3){

}
@media only screen and ($min-device-width: 412px) and ($max-device-width: 732px) and ($-webkit-min-device-pixel-ratio: 3) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 412px) and ($max-device-width: 732px) and ($-webkit-min-device-pixel-ratio: 3) and ($orientation: $landscape) {

}
// Nexus 6P ends here

/* Mobile & Tablet @media imports - ends */
