// import stylings
@import "global";


// nav_bar stylings
#nav_bar{
  background-color: $g_transparent_color;
  .navbar {
    margin-bottom: -20px;
  }

  .navbar-toggle {
    background-color: $main_background_color;
    .icon-bar{
      background-color: $secondary_background_color;
    }
  }
  .navbar-toggle:hover {
    background-color: $secondary_background_color;
    .icon-bar{
      background-color: $main_background_color;
    }
  }

  .affix{
    z-index: 500;
    top: 0;
    width: 100%;
    background-color: $main_background_color;
    opacity: .8;
    border: none;
    border-radius: 0;
  }

  .affix + .container-fluid{
    padding-top: 70px;
  }

  .affix-top{
    z-index: 500;
    background-color: $secondary_background_color;
    border: none;
    border-radius: 0;
  }
  a {
    transition-duration: 1s;
  }

}



/* Mobile & Tablet @media imports - starts */
// iPhone 4 & 4s starts here
@media only screen and ($min-device-width: 320px) and ($max-device-width: 480px) and ($-webkit-min-device-pixel-ratio: 2){

}
@media only screen and ($min-device-width: 320px) and ($max-device-width: 480px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $portrait){

}
@media only screen and ($min-device-width: 320px) and ($max-device-width: 480px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $landscape){

}
// iPhone 4 & 4s ends here

// iPhone 5 & 5S starts here
@media only screen and ($min-device-width: 320px) and ($max-device-width: 568px) and ($-webkit-min-device-pixel-ratio: 2) {

}
@media only screen and ($min-device-width: 320px) and ($max-device-width: 568px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 320px) and ($max-device-width: 568px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $landscape) {

}
// iPhone 5 & 5S ends here

// iPhone 6 & 6S starts here
@media only screen and ($min-device-width: 375px) and ($max-device-width: 667px) and ($-webkit-min-device-pixel-ratio: 2) {

}
@media only screen and ($min-device-width: 375px) and ($max-device-width: 667px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 375px) and ($max-device-width: 667px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $landscape) {

}
// iPhone 6 & 6S ends here

// iPhone 6plus starts here
@media only screen and ($min-device-width: 414px) and ($max-device-width: 736px) and ($-webkit-min-device-pixel-ratio: 3) {

}
@media only screen and ($min-device-width: 414px) and ($max-device-width: 736px) and ($-webkit-min-device-pixel-ratio: 3) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 414px) and ($max-device-width: 736px) and ($-webkit-min-device-pixel-ratio: 3) and ($orientation: $landscape) {

}
// iPhone 6plus ends here

// iPad mini starts here
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 1) {

}
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 1) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 1) and ($orientation: $landscape) {

}
// iPad mini ends here

// iPad starts here
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 2) {

}
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 768px) and ($max-device-width: 1024px) and ($-webkit-min-device-pixel-ratio: 2) and ($orientation: $landscape) {

}
// iPad ends here

// iPad Pro starts here
@media only screen and ($min-device-width: 1024px) and ($max-device-width: 1366px) {

}
@media only screen and ($min-device-width: 1024px) and ($max-device-width: 1366px) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 1024px) and ($max-device-width: 1366px) and ($orientation: $portrait) {

}
// iPad Pro ends here

// Nexus 6P starts here
@media only screen and ($min-device-width: 412px) and ($max-device-width: 732px) and ($-webkit-min-device-pixel-ratio: 3){

}
@media only screen and ($min-device-width: 412px) and ($max-device-width: 732px) and ($-webkit-min-device-pixel-ratio: 3) and ($orientation: $portrait) {

}
@media only screen and ($min-device-width: 412px) and ($max-device-width: 732px) and ($-webkit-min-device-pixel-ratio: 3) and ($orientation: $landscape) {

}
// Nexus 6P ends here

/* Mobile & Tablet @media imports - ends */
