#index {
  width: auto; }
  #index #parallax .section_one, #index #parallax .section_two, #index #parallax .section_three {
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    #index #parallax .section_one .section_title, #index #parallax .section_two .section_title, #index #parallax .section_three .section_title {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: #ffffff;
      opacity: .7; }
      #index #parallax .section_one .section_title h3, #index #parallax .section_two .section_title h3, #index #parallax .section_three .section_title h3 {
        padding-top: 20px;
        font-size: 3em;
        text-align: center;
        height: 100px; }
  #index #parallax .section_one {
    background-image: url("/images/background/mountain.jpg"); }
  #index #parallax .section_two {
    padding-top: 1px;
    background-image: url("/images/background/haircolor.jpg"); }
  #index #parallax .section_three {
    padding-top: 1px;
    background-image: url("/images/background/hairtreatment.jpg"); }

/* Mobile & Tablet @media imports - starts */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #parallax .section_one {
    background-image: url("/images/background/haircolor-small.jpg") !important;
    background-attachment: scroll !important;
    background-size: 600px 500px !important; }
  #parallax .section_two {
    background-image: url("/images/background/mountain.jpg") !important;
    background-attachment: scroll !important;
    background-size: 600px 500px !important; }
  #parallax .section_three {
    background-image: url("/images/background/hairtreatment-small.jpg") !important;
    background-attachment: scroll !important;
    background-size: 600px 500px !important; } }

/* Mobile & Tablet @media imports - ends */
#nav_bar .affix {
  top: 0;
  width: 100%; }

#nav_bar .affix + .container-fluid {
  padding-top: 70px; }

#nav_bar .navbar {
  z-index: 500;
  background-color: #444444; }

/* Mobile & Tablet @media imports - starts */
/* Mobile & Tablet @media imports - ends */
#footer {
  color: #333333;
  padding: 25px 40px; }
  #footer h4 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', Arial, 'Lucida Grande', sans-serif; }
  #footer #info #info_links {
    text-decoration: none;
    color: #333333;
    font-size: .8em; }
  #footer #social_medias {
    padding-left: 0px;
    padding-right: 0px;
    font-size: .8em; }
    #footer #social_medias a {
      text-decoration: none;
      -webkit-transition-duration: 1s;
      transition-duration: 1s; }
    #footer #social_medias #social_title {
      text-align: center; }
    #footer #social_medias #facebook {
      width: 39%;
      height: auto; }
    #footer #social_medias #instagram {
      width: 9%;
      height: auto; }
    #footer #social_medias #pinterest {
      width: 9%;
      height: auto; }
    #footer #social_medias #blog {
      width: 39%;
      height: auto; }
    #footer #social_medias #facebook, #footer #social_medias #instagram, #footer #social_medias #pinterest, #footer #social_medias #blog {
      cursor: pointer; }
    #footer #social_medias a:hover {
      opacity: .7; }
  #footer #subscribe {
    font-size: .8em; }
    #footer #subscribe .btn {
      background-color: #444444;
      color: white;
      -webkit-transition-duration: 1s;
      transition-duration: 1s; }
    #footer #subscribe .btn:hover {
      opacity: .7; }
  #footer #info, #footer #social_medias, #footer #subscribe {
    padding-bottom: 20px; }

/* Mobile & Tablet @media imports - starts */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #footer h4 {
    text-align: center; }
  #footer #info .center {
    text-align: center; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  #footer h4 {
    text-align: center; }
  #footer #info .center {
    text-align: center; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #footer h4 {
    text-align: center; }
  #footer #info .center {
    text-align: center; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #footer h4 {
    text-align: center; }
  #footer #info .center {
    text-align: center; } }

@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #footer h4 {
    text-align: center; }
  #footer #info .center {
    text-align: center; } }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  #footer h4 {
    text-align: center; }
  #footer #info .center {
    text-align: center; } }

/* Mobile & Tablet @media imports - ends */

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInZpZXdzL3BhZ2VzL19pbmRleC5zY3NzIiwiX3ZhcmlhYmxlcy5zY3NzIiwidmlld3MvcGFydGlhbHMvX25hdmJhci5zY3NzIiwidmlld3MvcGFydGlhbHMvX2Zvb3Rlci5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUlBO0VBRUUsWUFBWSxFQTZDYjtFQS9DRDtJQVNNLGNBQWM7SUFDZCw2QkFBNkI7SUFDN0IsNEJBQTRCO0lBQzVCLDZCQUE2QjtJQUM3Qix1QkFBdUIsRUFnQnhCO0lBN0JMO01BZ0JRLG1CQUFtQjtNQUNuQixTQUFRO01BQ1Isb0NBQXFCO01BQXJCLDRCQUFxQjtNQUNyQiwwQkNqQndCO01Ea0J4QixZQUFZLEVBUWI7TUE1QlA7UUF1QlUsa0JBQWtCO1FBQ2xCLGVBQWU7UUFDZixtQkFBbUI7UUFDbkIsY0FBYyxFQUNmO0VBM0JUO0lBZ0NNLHlEQUFxQixFQUN0QjtFQWpDTDtJQW9DTSxpQkFBaUI7SUFDakIsMERBQXFCLEVBQ3RCO0VBdENMO0lBd0NNLGlCQUFpQjtJQUNqQiw4REFBcUIsRUFDdEI7O0FBT0wsNkNBQTZDO0FBYzdDO0VBRUU7SUFFSSwyRUFBMEU7SUFDMUUseUNBQXlDO0lBQ3pDLHdDQUF3QyxFQUN6QztFQUxIO0lBT0ksb0VBQW1FO0lBQ25FLHlDQUF5QztJQUN6Qyx3Q0FBd0MsRUFDekM7RUFWSDtJQVlJLCtFQUE4RTtJQUM5RSx5Q0FBeUM7SUFDekMsd0NBQXdDLEVBQ3pDLEVBQUE7O0FBY0wsMkNBQTJDO0FFOUYzQztFQUVJLE9BQU87RUFDUCxZQUFZLEVBQ2I7O0FBSkg7RUFPSSxrQkFBa0IsRUFDbkI7O0FBUkg7RUFXSSxhQUFhO0VBQ2IsMEJEWGlDLEVDWWxDOztBQU1ILDZDQUE2QztBQXlCN0MsMkNBQTJDO0FDNUMzQztFQUNFLGVGVTRCO0VFVDVCLG1CQUFtQixFQW9FcEI7RUF0RUQ7SUFJSSxtQkFBbUI7SUFDbkIsa0JBQWtCO0lBQ2xCLGlCQUFpQjtJQUNqQiw4SEFBOEgsRUFDL0g7RUFSSDtJQVdNLHNCQUFzQjtJQUN0QixlRkR3QjtJRUV4QixnQkFBZ0IsRUFDakI7RUFkTDtJQWtCSSxrQkFBa0I7SUFDbEIsbUJBQW1CO0lBQ25CLGdCQUFnQixFQWdDakI7SUFwREg7TUFzQk0sc0JBQXNCO01BQ3RCLGdDQUF3QjtNQUF4Qix3QkFBd0IsRUFDekI7SUF4Qkw7TUEyQk0sbUJBQW1CLEVBQ3BCO0lBNUJMO01BOEJNLFdBQVc7TUFDWCxhQUFhLEVBQ2Q7SUFoQ0w7TUFrQ00sVUFBVTtNQUNWLGFBQWEsRUFDZDtJQXBDTDtNQXNDTSxVQUFVO01BQ1YsYUFBYSxFQUNkO0lBeENMO01BMENNLFdBQVc7TUFDWCxhQUFhLEVBQ2Q7SUE1Q0w7TUErQ00sZ0JBQWdCLEVBQ2pCO0lBaERMO01Ba0RNLFlBQVksRUFDYjtFQW5ETDtJQXVESSxnQkFBZ0IsRUFTakI7SUFoRUg7TUF5RE0sMEJGeEQrQjtNRXlEL0IsYUZoRGtCO01FaURsQixnQ0FBd0I7TUFBeEIsd0JBQXdCLEVBQ3pCO0lBNURMO01BOERNLFlBQVksRUFDYjtFQS9ETDtJQW1FSSxxQkFBcUIsRUFDdEI7O0FBTUgsNkNBQTZDO0FBRTdDO0VBRUU7SUFFSSxtQkFBbUIsRUFDcEI7RUFISDtJQU1NLG1CQUFtQixFQUNwQixFQUFBOztBQU1QO0VBRUU7SUFFSSxtQkFBbUIsRUFDcEI7RUFISDtJQU1NLG1CQUFtQixFQUNwQixFQUFBOztBQU1QO0VBRUU7SUFFSSxtQkFBbUIsRUFDcEI7RUFISDtJQU1NLG1CQUFtQixFQUNwQixFQUFBOztBQU1QO0VBRUU7SUFFSSxtQkFBbUIsRUFDcEI7RUFISDtJQU1NLG1CQUFtQixFQUNwQixFQUFBOztBQU1QO0VBRUU7SUFFSSxtQkFBbUIsRUFDcEI7RUFISDtJQU1NLG1CQUFtQixFQUNwQixFQUFBOztBQU1QO0VBRUU7SUFFSSxtQkFBbUIsRUFDcEI7RUFISDtJQU1NLG1CQUFtQixFQUNwQixFQUFBOztBQUtQLDJDQUEyQyIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8vIGltcG9ydCB2YXJpYWJsZXNcbkBpbXBvcnQgXCJ2YXJpYWJsZXNcIjtcblxuLy8gaW5kZXggbGFuZGluZyBwYWdlXG4jaW5kZXh7XG4gIC8vIHBhZGRpbmctdG9wOiA2MHB4O1xuICB3aWR0aDogYXV0bztcblxuXG4gICNwYXJhbGxheHtcblxuXG4gICAgLnNlY3Rpb25fb25lLCAuc2VjdGlvbl90d28sIC5zZWN0aW9uX3RocmVle1xuICAgICAgaGVpZ2h0OiA3MDBweDtcbiAgICAgIGJhY2tncm91bmQtYXR0YWNobWVudDogZml4ZWQ7XG4gICAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XG4gICAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xuICAgICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcblxuICAgICAgLnNlY3Rpb25fdGl0bGV7XG4gICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICAgICAgdG9wOjUwJTtcbiAgICAgICAgdHJhbnNmb3JtOiB0cmFuc2xhdGVZKC01MCUpO1xuICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkd2hpdGVfYmFja2dyb3VuZF9jb2xvcjtcbiAgICAgICAgb3BhY2l0eTogLjc7XG5cbiAgICAgICAgaDN7XG4gICAgICAgICAgcGFkZGluZy10b3A6IDIwcHg7XG4gICAgICAgICAgZm9udC1zaXplOiAzZW07XG4gICAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgICAgIGhlaWdodDogMTAwcHg7XG4gICAgICAgIH1cbiAgICAgIH1cbiAgICB9XG5cbiAgICAuc2VjdGlvbl9vbmUge1xuICAgICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiL2ltYWdlcy9iYWNrZ3JvdW5kL21vdW50YWluLmpwZ1wiKTtcbiAgICB9XG5cbiAgICAuc2VjdGlvbl90d28ge1xuICAgICAgcGFkZGluZy10b3A6IDFweDtcbiAgICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi9pbWFnZXMvYmFja2dyb3VuZC9oYWlyY29sb3IuanBnXCIpO1xuICAgIH1cbiAgICAuc2VjdGlvbl90aHJlZSB7XG4gICAgICBwYWRkaW5nLXRvcDogMXB4O1xuICAgICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiL2ltYWdlcy9iYWNrZ3JvdW5kL2hhaXJ0cmVhdG1lbnQuanBnXCIpO1xuICAgIH1cblxuICB9XG5cblxufVxuXG4vKiBNb2JpbGUgJiBUYWJsZXQgQG1lZGlhIGltcG9ydHMgLSBzdGFydHMgKi9cbi8vIGlQaG9uZSA0XG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtaW4tZGV2aWNlLXdpZHRoOiAzMjBweCkgYW5kIChtYXgtZGV2aWNlLXdpZHRoOiA0ODBweCkgYW5kICgtd2Via2l0LW1pbi1kZXZpY2UtcGl4ZWwtcmF0aW86IDIpIHtcblxufVxuLy8gaVBob25lIDUgJiA1U1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLWRldmljZS13aWR0aDogMzIwcHgpIGFuZCAobWF4LWRldmljZS13aWR0aDogNTY4cHgpIGFuZCAoLXdlYmtpdC1taW4tZGV2aWNlLXBpeGVsLXJhdGlvOiAyKSB7XG5cbn1cbi8vIGlQaG9uZSA2ICYgNlNcbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi1kZXZpY2Utd2lkdGg6IDM3NXB4KSBhbmQgKG1heC1kZXZpY2Utd2lkdGg6IDY2N3B4KSBhbmQgKC13ZWJraXQtbWluLWRldmljZS1waXhlbC1yYXRpbzogMikge1xuXG59XG4vLyBpUGhvbmUgNnBsdXNcbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi1kZXZpY2Utd2lkdGg6IDQxNHB4KSBhbmQgKG1heC1kZXZpY2Utd2lkdGg6IDczNnB4KSBhbmQgKC13ZWJraXQtbWluLWRldmljZS1waXhlbC1yYXRpbzogMykge1xuXG4gICNwYXJhbGxheHtcbiAgICAuc2VjdGlvbl9vbmUge1xuICAgICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiL2ltYWdlcy9iYWNrZ3JvdW5kL2hhaXJjb2xvci1zbWFsbC5qcGdcIikgIWltcG9ydGFudDtcbiAgICAgIGJhY2tncm91bmQtYXR0YWNobWVudDogc2Nyb2xsICFpbXBvcnRhbnQ7XG4gICAgICBiYWNrZ3JvdW5kLXNpemU6IDYwMHB4IDUwMHB4ICFpbXBvcnRhbnQ7XG4gICAgfVxuICAgIC5zZWN0aW9uX3R3byB7XG4gICAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIvaW1hZ2VzL2JhY2tncm91bmQvbW91bnRhaW4uanBnXCIpICFpbXBvcnRhbnQ7XG4gICAgICBiYWNrZ3JvdW5kLWF0dGFjaG1lbnQ6IHNjcm9sbCAhaW1wb3J0YW50O1xuICAgICAgYmFja2dyb3VuZC1zaXplOiA2MDBweCA1MDBweCAhaW1wb3J0YW50O1xuICAgIH1cbiAgICAuc2VjdGlvbl90aHJlZSB7XG4gICAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIvaW1hZ2VzL2JhY2tncm91bmQvaGFpcnRyZWF0bWVudC1zbWFsbC5qcGdcIikgIWltcG9ydGFudDtcbiAgICAgIGJhY2tncm91bmQtYXR0YWNobWVudDogc2Nyb2xsICFpbXBvcnRhbnQ7XG4gICAgICBiYWNrZ3JvdW5kLXNpemU6IDYwMHB4IDUwMHB4ICFpbXBvcnRhbnQ7XG4gICAgfVxuICB9XG5cblxufVxuLy8gVGFibGV0c1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLWRldmljZS13aWR0aDogNzM2cHgpIGFuZCAobWF4LWRldmljZS13aWR0aDogMTAyNHB4KSBhbmQgKC13ZWJraXQtbWluLWRldmljZS1waXhlbC1yYXRpbzogMSkge1xuXG59XG4vLyBUYWJsZXRzIC0gaVBhZCBQcm9cbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi1kZXZpY2Utd2lkdGg6IDEwMjRweCkgYW5kIChtYXgtZGV2aWNlLXdpZHRoOiAxMzY2cHgpIHtcblxuXG59XG4vKiBNb2JpbGUgJiBUYWJsZXQgQG1lZGlhIGltcG9ydHMgLSBlbmRzICovXG4iLCIvLyBtYWluIHZhcmlhYmxlc1xuJG1haW5fYmFja2dyb3VuZF9jb2xvcjogdHJhbnNwYXJlbnQ7XG4kbWFpbl9mb250X2NvbG9yOiAjMDA4MEZGO1xuJHNlY29uZGFyeV9iYWNrZ3JvdW5kX2NvbG9yOiAjZjNmM2YzO1xuJGJsYWNrX2JhY2tncm91bmRfY29sb3I6IGJsYWNrO1xuJGJsYWNrX2dyZXlfYmFja2dyb3VuZF9jb2xvcjogIzQ0NDQ0NDtcbiR3aGl0ZV9iYWNrZ3JvdW5kX2NvbG9yOiAjZmZmZmZmO1xuXG4vLyBmb290ZXIgdmFyaWFibGVzXG4kZm9vdGVyX2JhY2tncm91bmRfY29sb3I6ICM2NjY7XG4kZm9vdGVyX2ZvbnRfY29sb3I6ICNmMmYyZjI7XG4kZm9vdGVyX2Rpc2NsYWltZXJfY29sb3I6ICM5OTk7XG5cbi8vIGZvbnQgdmFyaWFibGVzXG4kd2hpdGVfZm9udF9jb2xvcjogd2hpdGU7XG4kZGFya19ncmV5X2ZvbnRfY29sb3I6ICMzMzMzMzM7XG4iLCIvLyBpbXBvcnQgdmFyaWFibGVzXG5AaW1wb3J0IFwidmFyaWFibGVzXCI7XG5cbi8vIG5hdl9iYXIgc3R5bGluZ3NcbiNuYXZfYmFye1xuICAuYWZmaXh7XG4gICAgdG9wOiAwO1xuICAgIHdpZHRoOiAxMDAlO1xuICB9XG5cbiAgLmFmZml4ICsgLmNvbnRhaW5lci1mbHVpZHtcbiAgICBwYWRkaW5nLXRvcDogNzBweDtcbiAgfVxuXG4gIC5uYXZiYXJ7XG4gICAgei1pbmRleDogNTAwO1xuICAgIGJhY2tncm91bmQtY29sb3I6ICRibGFja19ncmV5X2JhY2tncm91bmRfY29sb3I7XG4gIH1cblxufVxuXG5cblxuLyogTW9iaWxlICYgVGFibGV0IEBtZWRpYSBpbXBvcnRzIC0gc3RhcnRzICovXG4vLyBpUGhvbmUgNFxuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLWRldmljZS13aWR0aDogMzIwcHgpIGFuZCAobWF4LWRldmljZS13aWR0aDogNDgwcHgpIGFuZCAoLXdlYmtpdC1taW4tZGV2aWNlLXBpeGVsLXJhdGlvOiAyKSB7XG5cbn1cbi8vIGlQaG9uZSA1ICYgNVNcbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi1kZXZpY2Utd2lkdGg6IDMyMHB4KSBhbmQgKG1heC1kZXZpY2Utd2lkdGg6IDU2OHB4KSBhbmQgKC13ZWJraXQtbWluLWRldmljZS1waXhlbC1yYXRpbzogMikge1xuXG59XG4vLyBpUGhvbmUgNiAmIDZTXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtaW4tZGV2aWNlLXdpZHRoOiAzNzVweCkgYW5kIChtYXgtZGV2aWNlLXdpZHRoOiA2NjdweCkgYW5kICgtd2Via2l0LW1pbi1kZXZpY2UtcGl4ZWwtcmF0aW86IDIpIHtcblxufVxuLy8gaVBob25lIDZwbHVzXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtaW4tZGV2aWNlLXdpZHRoOiA0MTRweCkgYW5kIChtYXgtZGV2aWNlLXdpZHRoOiA3MzZweCkgYW5kICgtd2Via2l0LW1pbi1kZXZpY2UtcGl4ZWwtcmF0aW86IDMpIHtcblxufVxuLy8gVGFibGV0c1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLWRldmljZS13aWR0aDogNzM2cHgpIGFuZCAobWF4LWRldmljZS13aWR0aDogMTAyNHB4KSBhbmQgKC13ZWJraXQtbWluLWRldmljZS1waXhlbC1yYXRpbzogMSkge1xuXG59XG4vLyBUYWJsZXRzIC0gaVBhZCBQcm9cbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi1kZXZpY2Utd2lkdGg6IDEwMjRweCkgYW5kIChtYXgtZGV2aWNlLXdpZHRoOiAxMzY2cHgpIHtcblxufVxuLyogTW9iaWxlICYgVGFibGV0IEBtZWRpYSBpbXBvcnRzIC0gZW5kcyAqL1xuIiwiLy8gaW1wb3J0IHZhcmlhYmxlc1xuQGltcG9ydCBcInZhcmlhYmxlc1wiO1xuXG4vLyBzdHlsaW5nIGZvciBmb290ZXJcbiNmb290ZXJ7XG4gIGNvbG9yOiAkZGFya19ncmV5X2ZvbnRfY29sb3I7XG4gIHBhZGRpbmc6IDI1cHggNDBweDtcbiAgaDR7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICAgIGZvbnQtc2l6ZTogMS41ZW07XG4gICAgZm9udC1mYW1pbHk6ICdIZWx2ZXRpY2FOZXVlLUxpZ2h0JywgJ0hlbHZldGljYSBOZXVlIExpZ2h0JywgJ0hlbHZldGljYSBOZXVlJywgJ0hlbHZldGljYScsIEFyaWFsLCAnTHVjaWRhIEdyYW5kZScsIHNhbnMtc2VyaWY7XG4gIH1cbiAgI2luZm97XG4gICAgI2luZm9fbGlua3N7XG4gICAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgICBjb2xvcjogJGRhcmtfZ3JleV9mb250X2NvbG9yO1xuICAgICAgZm9udC1zaXplOiAuOGVtO1xuICAgIH1cbiAgfVxuXG4gICNzb2NpYWxfbWVkaWFze1xuICAgIHBhZGRpbmctbGVmdDogMHB4O1xuICAgIHBhZGRpbmctcmlnaHQ6IDBweDtcbiAgICBmb250LXNpemU6IC44ZW07XG4gICAgYXtcbiAgICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICAgIHRyYW5zaXRpb24tZHVyYXRpb246IDFzO1xuICAgIH1cblxuICAgICNzb2NpYWxfdGl0bGV7XG4gICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgfVxuICAgICNmYWNlYm9va3tcbiAgICAgIHdpZHRoOiAzOSU7XG4gICAgICBoZWlnaHQ6IGF1dG87XG4gICAgfVxuICAgICNpbnN0YWdyYW17XG4gICAgICB3aWR0aDogOSU7XG4gICAgICBoZWlnaHQ6IGF1dG87XG4gICAgfVxuICAgICNwaW50ZXJlc3R7XG4gICAgICB3aWR0aDogOSU7XG4gICAgICBoZWlnaHQ6IGF1dG87XG4gICAgfVxuICAgICNibG9ne1xuICAgICAgd2lkdGg6IDM5JTtcbiAgICAgIGhlaWdodDogYXV0bztcbiAgICB9XG5cbiAgICAjZmFjZWJvb2ssICNpbnN0YWdyYW0sICNwaW50ZXJlc3QsICNibG9ne1xuICAgICAgY3Vyc29yOiBwb2ludGVyO1xuICAgIH1cbiAgICBhOmhvdmVye1xuICAgICAgb3BhY2l0eTogLjc7XG4gICAgfVxuICB9XG5cbiAgI3N1YnNjcmliZXtcbiAgICBmb250LXNpemU6IC44ZW07XG4gICAgLmJ0bntcbiAgICAgIGJhY2tncm91bmQtY29sb3I6ICRibGFja19ncmV5X2JhY2tncm91bmRfY29sb3I7XG4gICAgICBjb2xvcjogJHdoaXRlX2ZvbnRfY29sb3I7XG4gICAgICB0cmFuc2l0aW9uLWR1cmF0aW9uOiAxcztcbiAgICB9XG4gICAgLmJ0bjpob3ZlcntcbiAgICAgIG9wYWNpdHk6IC43O1xuICAgIH1cbiAgfVxuXG4gICNpbmZvLCAjc29jaWFsX21lZGlhcywgI3N1YnNjcmliZXtcbiAgICBwYWRkaW5nLWJvdHRvbTogMjBweDtcbiAgfVxuXG59XG5cblxuXG4vKiBNb2JpbGUgJiBUYWJsZXQgQG1lZGlhIGltcG9ydHMgLSBzdGFydHMgKi9cbi8vIGlQaG9uZSA0XG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtaW4tZGV2aWNlLXdpZHRoOiAzMjBweCkgYW5kIChtYXgtZGV2aWNlLXdpZHRoOiA0ODBweCkgYW5kICgtd2Via2l0LW1pbi1kZXZpY2UtcGl4ZWwtcmF0aW86IDIpIHtcblxuICAjZm9vdGVye1xuICAgIGg0e1xuICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIH1cbiAgICAjaW5mb3tcbiAgICAgIC5jZW50ZXJ7XG4gICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICAgIH1cbiAgICB9XG4gIH1cblxufVxuLy8gaVBob25lIDUgJiA1U1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLWRldmljZS13aWR0aDogMzIwcHgpIGFuZCAobWF4LWRldmljZS13aWR0aDogNTY4cHgpIGFuZCAoLXdlYmtpdC1taW4tZGV2aWNlLXBpeGVsLXJhdGlvOiAyKSB7XG5cbiAgI2Zvb3RlcntcbiAgICBoNHtcbiAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICB9XG4gICAgI2luZm97XG4gICAgICAuY2VudGVye1xuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICB9XG4gICAgfVxuICB9XG5cbn1cbi8vIGlQaG9uZSA2ICYgNlNcbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi1kZXZpY2Utd2lkdGg6IDM3NXB4KSBhbmQgKG1heC1kZXZpY2Utd2lkdGg6IDY2N3B4KSBhbmQgKC13ZWJraXQtbWluLWRldmljZS1waXhlbC1yYXRpbzogMikge1xuXG4gICNmb290ZXJ7XG4gICAgaDR7XG4gICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgfVxuICAgICNpbmZve1xuICAgICAgLmNlbnRlcntcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgfVxuICAgIH1cbiAgfVxuXG59XG4vLyBpUGhvbmUgNnBsdXNcbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1pbi1kZXZpY2Utd2lkdGg6IDQxNHB4KSBhbmQgKG1heC1kZXZpY2Utd2lkdGg6IDczNnB4KSBhbmQgKC13ZWJraXQtbWluLWRldmljZS1waXhlbC1yYXRpbzogMykge1xuXG4gICNmb290ZXJ7XG4gICAgaDR7XG4gICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgfVxuICAgICNpbmZve1xuICAgICAgLmNlbnRlcntcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgfVxuICAgIH1cbiAgfVxuXG59XG4vLyBUYWJsZXRzXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtaW4tZGV2aWNlLXdpZHRoOiA3MzZweCkgYW5kIChtYXgtZGV2aWNlLXdpZHRoOiAxMDI0cHgpIGFuZCAoLXdlYmtpdC1taW4tZGV2aWNlLXBpeGVsLXJhdGlvOiAxKSB7XG5cbiAgI2Zvb3RlcntcbiAgICBoNHtcbiAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICB9XG4gICAgI2luZm97XG4gICAgICAuY2VudGVye1xuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICB9XG4gICAgfVxuICB9XG5cbn1cbi8vIFRhYmxldHMgLSBpUGFkIFByb1xuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWluLWRldmljZS13aWR0aDogMTAyNHB4KSBhbmQgKG1heC1kZXZpY2Utd2lkdGg6IDEzNjZweCkge1xuXG4gICNmb290ZXJ7XG4gICAgaDR7XG4gICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgfVxuICAgICNpbmZve1xuICAgICAgLmNlbnRlcntcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgfVxuICAgIH1cbiAgfVxuXG59XG4vKiBNb2JpbGUgJiBUYWJsZXQgQG1lZGlhIGltcG9ydHMgLSBlbmRzICovXG4iXX0= */
