// import variables
@import "variables";

// index landing page
#index{
  // padding-top: 60px;
  width: auto;


  #parallax{
    .section_title{
      position: relative;
      top:50%;
      transform: translateY(-50%);
      background-color: $white_background_color;
      opacity: .7;

      h3{
        padding-top: 20px;
        font-size: 3em;
        text-align: center;
        height: 100px;
      }
    }

    .section_one, .section_two, .section_three{
      height: 700px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .section_one {
      background-image: url("/images/background/cut.jpg");

    }

    .section_two {
      padding-top: 1px;
      background-image: url("/images/background/haircolor.jpg");
    }
    .section_three {
      padding-top: 1px;
      background-image: url("/images/background/hairtreatment.jpg");
    }

  }




}



/* Mobile & Tablet @media imports - starts */
// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #parallax{

    .section_one {
      background-attachment: scroll;
      background-image: url("/images/background/cut-small.jpg");

    }

    .section_two {
      background-attachment: scroll;
      padding-top: 1px;
      background-image: url("/images/background/haircolor-small.jpg");
    }
    .section_three {
      background-attachment: scroll;
      padding-top: 1px;
      background-image: url("/images/background/hairtreatment-small.jpg");
    }
  }

}
// iPhone 5 & 5S
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  #parallax{

    .section_one {
      background-attachment: scroll;
      background-image: url("/images/background/cut-small.jpg");
    }

    .section_two {
      background-attachment: scroll;
      padding-top: 1px;
      background-image: url("/images/background/haircolor-small.jpg");
    }
    .section_three {
      background-attachment: scroll;
      padding-top: 1px;
      background-image: url("/images/background/hairtreatment-small.jpg");
    }
  }

}
// iPhone 6 & 6S
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #parallax{

    .section_one {
      background-attachment: scroll;
      background-image: url("/images/background/cut-small.jpg");

    }
    .section_two {
      background-attachment: scroll;
      padding-top: 1px;
      background-image: url("/images/background/haircolor-small.jpg");
    }
    .section_three {
      background-attachment: scroll;
      padding-top: 1px;
      background-image: url("/images/background/hairtreatment-small.jpg");
    }
  }

}
// iPhone 6plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #parallax{

    .section_one {
      color: purple;
      background-attachment: scroll;
      background-image: url('/images/background/haircolor-small.jpg') repeat-x;
    }

    .section_two {
      color: green;
      background-attachment: scroll;
      padding-top: 1px;
      background-image: url('/images/background/haircolor-small.jpg') repeat-x;
    }
    .section_three {
      color: blue;
      background-attachment: scroll;
      padding-top: 1px;
      background-image: url('/images/background/hairtreatment-small.jpg') repeat-x;
    }
  }


}
// Tablets
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}
// Tablets - iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {

}
/* Mobile & Tablet @media imports - ends */
