// import global
@import "global";

#registration_error, #registration_confirmation{
  margin-top: 60px;
  padding-top: 50px;
  padding-bottom: 75px;

  h1, h2{
    text-align: center;
  }

  a{
    font-size: 1.25em;
    border-bottom-style: solid;
    border-bottom-color: $g_yellow;
    border-bottom-width: medium;
  }

  img{
    width: 400px;
    height: auto;
  }
  #title{
    padding: 25px 50px;
    font-size: 1.5em;
  }
  #contents{
    font-size: .8em;
  }
  p{
    text-align: center;
  }
}
