<% layout('main') -%>
<div id="page_title">
  <h1>Contact</h1>
</div>

<div id="contact">
  <div class="container-fluid">
      <div class="row">
        <div id="contact" class="col-xs-18 col-sm-7 col-md-7">

          <iframe id="google_map"
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAFF3A9mCop2ZYS8YEfbkkcnMQhVRmHqJ4&q=LIWEI+BEAUTY,+90+Bowery+%23405,+New+York,+NY+10013/@40.717511,-73.99786,17z" allowfullscreen>
          </iframe>

        </div>
        <div id="address" class="col-xs-18 col-sm-5 col-md-5">
          <h3>DIRECTIONS</h3>
          <p>We are located at the heart of Lower East Side / Chinatown area, and easily accessible from the following subway lines. </p>
          <p><span>4-5-6:</span> Get off Canal Street</p>
          <p><span>N-R-W-Q:</span> Get off Canal Street</p>
          <p><span>B-D:</span> Get off Grand Street</p>
          <br>
          <div class="row">
            <img id="subway" src="/images/subway/subway_4.png" alt="4">
            <img id="subway" src="/images/subway/subway_5.png" alt="5">
            <img id="subway" src="/images/subway/subway_6.png" alt="6">
            <img id="subway" src="/images/subway/subway_n.png" alt="n">
            <img id="subway" src="/images/subway/subway_r.png" alt="r">
            <img id="subway" src="/images/subway/subway_w.png" alt="w">
            <img id="subway" src="/images/subway/subway_q.png" alt="q">
            <img id="subway" src="/images/subway/subway_b.png" alt="b">
            <img id="subway" src="/images/subway/subway_d.png" alt="d">
          </div>


        </div>
      </div>
    </div>
</div>
