<% layout('main') -%>

<div id="index">

  <div id="index-top">
    <h3>Microblading The #1 Beauty Trends In 2017 - SELF</h3>
    <h4>It's never too late to learn something New!</h4>
  </div>

  <!-- parallax partial -->
  <%- include ../partials/parallax %>

  <!-- Category Partials -->
  <%- include ../partials/category %>
  
</div>
