<% layout('main') -%>

<div id="index">

    <div id="parallax">

      <div class="section_one">
        <div class="section_title">
          <h3>Section One Title</h3>
        </div>
      </div>

      <!-- <div class="section_two">
        <div class="section_title">
          <h3>Section Two Title</h3>
        </div>
      </div>

      <div class="section_three">
        <div class="section_title">
          <h3>Section Three Title</h3>
        </div>
      </div> -->

    </div>


</div>
