<% layout('main') -%>

<div id="index">

  <div id="index-top">
    <h3>Microblading the #1 Beauty Trends In 2017 - SELF</h3>
  </div>

  <!-- parallax partial -->
  <%- include ../partials/parallax %>

</div>
