<% layout('main') -%>

<div id="registration_confirmation">
  <div class="container-fluid">
    <h1>Thank you!</h1>
    <h2>Your inquiry has been submitted!</h2>
    <p id="title">One of our customer service representation will be contacting you through phone or email within next 24-48 hours.</p>
    <p id="contents">You will be redirected to our home page in 10 seconds or by <a href="/">clicking here!</a></p>
  </div>
</div>
