<% layout('main') -%>
<div id="page_title">
  <h1>Register</h1>
</div>

<div id="register">
  <div class="container-fluid">


    <form action="/post/register" method="POST" class="form-horizontal">
      <div class="form-group">
        <label for="fname" class="col-sm-2 control-label">First Name: </label>
        <div class="col-sm-10">
          <input type="text" name="fname" class="form-control" placeholder="First Name">
        </div>
      </div>
      <div class="form-group">
        <label for="lname" class="col-sm-2 control-label">Last Name: </label>
        <div class="col-sm-10">
          <input type="text" name="lname" class="form-control" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email: </label>
        <div class="col-sm-10">
          <input type="text" name="email" class="form-control" placeholder="user@gmail.com">
        </div>
      </div>
      <div class="form-group">
        <label for="telephone" class="col-sm-2 control-label">Telephone: </label>
        <div class="col-sm-10">
          <input type="text" name="telephone" class="form-control" placeholder="123-456-7890">
        </div>
      </div>

      <div class="container-fluid form-group center-block">
        <div class="row">
          <div class="col-xs-18 col-sm-3 col-md-3">
            <label>5 Day Hair Strokes Seminar</label>
            <select name="fiveDaysHairStrokes" class="form-control">
              <option value="">Seminar dates</option>
              <option value="october_2-6">October 2-6</option>
              <option value="october_16-20">October 16-20</option>
              <option value="november_6-10">November 6-10</option>
              <option value="november_20-24">November 20-24</option>
              <option value="december_4-8">December 4-8</option>
              <option value="december_18-22">December 18-22</option>
            </select>
          </div>
          <div class="col-xs-18 col-sm-3 col-md-3">
            <label>3 Day Hair Strokes Seminar</label>
            <select name="threeDaysHairStrokes" class="form-control">
              <option value="">Seminar dates</option>
              <option value="october_2-4">October 2-4</option>
              <option value="october_16-18">October 16-18</option>
              <option value="november_6-8">November 6-8</option>
              <option value="november_20-22">November 20-22</option>
              <option value="december_4-6">December 4-6</option>
              <option value="december_18-20">December 18-20</option>
            </select>
          </div>
          <div class="col-xs-18 col-sm-3 col-md-3">
            <label>Powdered Seminar</label>
            <select name="powderedSeminar" class="form-control">
              <option value="">Seminar dates</option>
              <option value="october_30">October 30</option>
              <option value="november_27">November 27</option>
            </select>
          </div>
          <div class="col-xs-18 col-sm-3 col-md-3">
            <label>Advanced Microblading</label>
            <select name="advancedMicrobladingSeminar" class="form-control">
              <option value="">Seminar dates</option>
              <option value="advancedMicroblading_get_more_info">Get More Info</option>
            </select>
          </div>
          <div class="col-xs-18 col-sm-3 col-md-3">
            <label>Lips Seminar</label>
            <select name="lipsSeminar" class="form-control">
              <option value="">Seminar dates</option>
              <option value="october_31">October 31</option>
              <option value="november_28">November 28</option>
            </select>
          </div>
          <div class="col-xs-18 col-sm-3 col-md-3">
            <label>Eyeliners Seminar</label>
            <select name="eyelinerSeminar" class="form-control">
              <option value="">Seminar dates</option>
              <option value="november_1">November 1</option>
              <option value="november_29">November 29</option>
            </select>
          </div>
          <div class="col-xs-18 col-sm-3 col-md-3">
            <label>Hairlines Seminar</label>
            <select name="hairlineSeminar" class="form-control">
              <option value="">Seminar dates</option>
              <option value="hairline_get_more_info">Get More Info</option>
            </select>
          </div>
          <div class="col-xs-18 col-sm-3 col-md-3">
            <label>One on One Training</label>
            <select name="oneOnOneSeminar" class="form-control">
              <option value="">Seminar dates</option>
              <option value="oneOnOne_get_more_info">Get More Info</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="telephone" class="col-sm-2 control-label">How did you hear about us? </label>
        <div class="col-sm-10">
          <textarea rows="1" name="hearAboutUs" class="form-control" placeholder=""></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="telephone" class="col-sm-2 control-label">Questions or Comments</label>
        <div class="col-sm-10">
          <textarea rows="3" name="comments" class="form-control" placeholder=""></textarea>
        </div>
      </div>

      <br>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Submit" class="btn btn-primary btn-md">
        </div>
      </div>
    </form>


  </div>
</div>
