<% layout('main') -%>

<div id="registration_error">
  <div class="container-fluid">
    <h1>Uh Oh!</h1>
    <h2>Something went wrong with your inqury!</h2>
    <p id="contents">You will be redirected back to the registration page in 10 seconds or by <a href="/register">clicking here!</a></p>
  </div>
</div>
