@import "variables";

// Main basic stylings
body {

  // fonts family & color starts
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', Arial, 'Lucida Grande', sans-serif;
  color: $main_font_color;
  // fonts family & color ends


  // global buttton styling starts
  .btn{
    border: $g_transparent_color;
    background-color: $main_button_color;
    color: $button_font_color;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.4);
  }
  .btn:hover{
    background-color: $g_yellow;
    color: $main_font_color;
    box-shadow: none;
  }
  // global buttton styling ends


  // global a tag styling starts
  a{
  text-decoration: none;
  color: $secondary_font_color;
  }
  a:hover{
    text-decoration: none;
  }
  a:hover{
    cursor: pointer;
  }
  // global a tag styling ends

}
